
\.idea/

week01/\.ipynb_checkpoints/

week03/\.ipynb_checkpoints/

week04/\.ipynb_checkpoints/
HW

week05/\.ipynb_checkpoints/

week06/\.ipynb_checkpoints/

Week07/\.ipynb_checkpoints/

Week07/logs/
Week07/mlruns/


week11/__pycache__/

week11/deepFM/\.ipynb_checkpoints/

week11/deepFM/__pycache__/

week16/\.ipynb_checkpoints/

week16/__pycache__/
week22/.ipynb_checkpoints
